absl-py==0.1.13
appdirs==1.4.3
astor==0.6.2
autopep8==1.2.4
Beaker==1.8.1
beautifulsoup4==4.6.0
bleach==1.5.0
Brlapi==0.6.7
chardet==3.0.4
chrome-gnome-shell==0.0.0
cupshelpers==1.0
decorator==4.2.1
Django==1.11.6
djangorestframework==3.7.0
evdev==0.7.0
gast==0.2.0
grpcio==1.10.1
gufw==18.4.0
html5lib==0.9999999
idna==2.6
isc==2.0
livestreamer==1.12.2
louis==3.4.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
namcap==3.2.7
numpy==1.14.2
packaging==16.8
pandas==0.22.0
pep8==1.7.0
protobuf==3.5.2.post1
psutil==5.4.3
pyalpm==0.8
PyAudio==0.2.11
pycairo==1.16.2
pycuda==2017.1.1
pycups==1.9.73
pycurl==7.43.0.1
pyelftools==0.24
pygobject==3.26.1
pyparsing==2.2.0
pysmbc==1.0.15.8
python-dateutil==2.7.2
pytools==2018.3
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
Send2Trash==1.5.0
six==1.11.0
team==1.0
tensorboard==1.7.0
tensorflow==1.7.0
tensorflow-gpu==1.7.0
termcolor==1.1.0
torch==0.3.1b0+2b47480
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.14.1
